# RabbitMQ connection string (apunta al servicio definido en docker-compose)
RABBITMQ_URL=amqp://user:password@rabbitmq:5672

# Nombre de la cola principal
QUEUE_NAME=task_queue

# Nombre de la Dead Letter Queue
DLQ_NAME=task_queue_dlq

# Cantidad de reintentos antes de enviar a la DLQ
RETRY_ATTEMPTS=3